Ward_v2/bpelContent/RadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://www.PAHospital.org/RadiologyService/"
  targetNamespace="http://www.PAHospital.org/RadiologyService/">

  <types>
    <xsd:schema targetNamespace="http://www.PAHospital.org/RadiologyService/">
      <xsd:element name="RadiologyOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PatientID" type="xsd:string" />
            <xsd:element name="CaseID" type="xsd:string" />
            <xsd:element name="ExaminationType">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="XRAY" />
                  <xsd:enumeration value="CT" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RadiologyReport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PatientID" type="xsd:string" />
            <xsd:element name="RadiologyOrderID" type="xsd:string" />
            <xsd:element name="DateOfExamination" type="xsd:date" />
            <xsd:element name="ReportText" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RadiologyOrderID" type="xsd:string" />
      <xsd:element name="RadiologyOrderIDForPayment" type="xsd:string" />
      <xsd:element name="OrderStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="OrderID" type="xsd:string" />
            <xsd:element name="OrderStatus" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Appointment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="OrderID" type="xsd:string" />
            <xsd:element name="Date" type="xsd:date" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="RadiologyOrderRadExaminationRequest">
    <part name="Order" element="s0:RadiologyOrder" />
  </message>
  <message name="RadiologyOrderRadExaminationResponse">
    <part name="RadiologyOrderID" element="s0:RadiologyOrderID" />
  </message>
  <message name="RadiologyRequestAppointmentRequest">
    <part name="RadiologyAppointmentRequest" element="s0:Appointment" />
  </message>
  <message name="RadiologyRequestAppointmentResponse">
    <part name="RadiologyAppointmentResponse" element="s0:Appointment" />
  </message>
  <message name="RadiologyGetOrderStatusRequest">
    <part name="RadiologyOrderID" element="s0:RadiologyOrderID" />
  </message>
  <message name="RadiologyGetOrderStatusResponse">
    <part name="RadOrderStatus" element="s0:OrderStatus" />
  </message>
  <message name="RadiologyMakePaymentRequest">
    <part name="RadiologyOrderID" element="s0:RadiologyOrderIDForPayment" />
  </message>

  <portType name="Radiology">
    <operation name="OrderRadiologyExamination">
      <input message="s0:RadiologyOrderRadExaminationRequest" />
      <output message="s0:RadiologyOrderRadExaminationResponse" />
    </operation>
    <operation name="RequestAppointment">
      <input message="s0:RadiologyRequestAppointmentRequest" />
      <output message="s0:RadiologyRequestAppointmentResponse" />
    </operation>
    <operation name="GetOrderStatus">
      <input message="s0:RadiologyGetOrderStatusRequest" />
      <output message="s0:RadiologyGetOrderStatusResponse" />
    </operation>
    <operation name="MakePayment">
      <input message="s0:RadiologyMakePaymentRequest" />
    </operation>
  </portType>

  <binding name="RadiologyBinding" type="s0:Radiology">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="OrderRadiologyExamination">
      <soap:operation
        soapAction="http://www.PAHospital.org/RadiologyService/OrderRadiologyExamination" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RequestAppointment">
      <soap:operation
        soapAction="http://www.PAHospital.org/RadiologyService/RequestAppointment" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetOrderStatus">
      <soap:operation
        soapAction="http://www.PAHospital.org/RadiologyService/GetOrderStatus" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="MakePayment">
      <soap:operation soapAction="http://www.PAHospital.org/RadiologyService/MakePayment" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>

  <!-- Service defines the address of Web service -->
  <service name="RadiologyService">
    <port name="RadiologyPort" binding="s0:RadiologyBinding">
      <soap:address location="http://192.168.216.128:8080/axis2/services/RadiologyService" />
    </port>
  </service>
  
</definitions>